.ca-link {
    font-size: 1.2rem !important;
}
.card {
    .share-area{
        h6{
            margin: 0 0 15px 0;
        }
    }
    .related-post{
        h6{
            margin: 0;
        }
    }
    .card-action {
        a {
            margin-right: 0 !important;
            @media #{$small-and-down}{
                width: 91%;
            }
        }
    }
    .card-image img {
        height: 400px;
    }
    .card-content{

    }
}
@media #{$small-and-down}{
    text-align: center;
    .s12{
        //@extend .center;
    }
    .center-sm {
        text-align: center;
    }
}
