body {
    background-color: $body-bg-color;
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row .col {
        float: right !important;
    }
    nav .brand-logo {
        position: inherit;
        font-size: 1.1rem;
        float: left;
    }
    section {
        a {
            transition: all 0.3s;
            &:hover {
                color: $card-link-color;
            }
        }
        .post-content {
            a {
                color: $card-link-color;
            }
        }
    }
    @media #{$small-and-down}{
        font-size: 1.1em;
    }
}
.primary-text {
    @extend .grey-text , .text-darken-4;
}
.ca-link {
    color: #fff !important;
}
.secondary-text {
    color: #727272;
}
.waves-effect.waves-pinck .waves-ripple {
    background-color: lighten($card-link-color,25%);
}
//
img{
    @extend .activator, .responsive-img;
}
//
@media #{$small-and-down} {
    h1{
        font-size: 2.2em;
    }
    h4{
        font-size: 1em;
    }
    h5{
        font-size: 1.2em;
    }
}
