body {
    background-color: $body-bg-color;
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .row .col {
        float: right !important;
    }
    nav .brand-logo {
        position: inherit;
        font-size: 1.1rem;
        float: left;
    }
    section {
        a {
            transition: all 0.3s;
            &:hover {
                color: $card-link-color;
            }
        }
        .post-content {
            a {
                color: $card-link-color;
            }
        }
    }
}
.primary-text {
    @extend .grey-text , .text-darken-4;
}
.ca-link {
    color: #fff !important;
}
.secondary-text {
    color: #727272;
}
.waves-effect.waves-pinck .waves-ripple {
    /* The alpha value allows the text and background color
     of the button to still show through. */
    background-color: lighten($card-link-color,25%);
}
