body{
    background-color: $body-bg-color;
    .wrapper{
        padding-left: 15px;
        padding-right: 15px;
    }
}
.primary-text{
    @extend .grey-text , .text-darken-4;
}
.secondary-text{
    color : #727272;
}
.waves-effect.waves-pinck .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: lighten($card-link-color,25%);
    }
