@font-face {
	font-family: 'WMitra';
	src: url('public/font/BMitra-Bold.eot');
	src: local('BMitra-Bold'), url('public/font/BMitra-Bold.woff') format('woff'), url('public/font/BMitra-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'IranianSerifWeb-Regular';
	src:  url('public/font/IranianSerifWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
