@font-face {
    font-family: 'Lenus';
    src: url("../font/Lenus/Lenus.eot?-uqgjah");
    src: url("../font/Lenus/Lenus.eot?#iefix-uqgjah") format('embedded-opentype'), url("../font/Lenus/Lenus.ttf?-uqgjah") format('truetype'), url("../font/Lenus/Lenus.woff?-uqgjah") format('woff'), url("../font/Lenus/Lenus.svg?-uqgjah#Lenus") format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="lenus-"],
[class*=" lenus-"] {
    font-family: 'Lenus';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#slide-out [class ^= "lenus-"] {
    margin-left: 15px;
    margin-right: -5px;
}
.lenus-search{
    position: absolute;
    top:20px;
    font-size: 2em;
}
.lenus-location_on:before {
    content: "\e052";
}
.lenus-message:before {
    content: "\e053";
}
.lenus-chat_bubble:before {
    content: "\e054";
}
.lenus-chat_bubble_outline:before {
    content: "\e055";
}
.lenus-add:before {
    content: "\e069";
}
.lenus-add_circle:before {
    content: "\e06b";
}
.lenus-add_circle_outline:before {
    content: "\e06c";
}
.lenus-clear:before {
    content: "\e070";
}
.lenus-mail:before {
    content: "\e07c";
}
.lenus-send:before {
    content: "\e087";
}
.lenus-access_time:before {
    content: "\e08e";
}
.lenus-insert_invitation:before {
    content: "\e0e9";
}
.lenus-folder:before {
    content: "\e101";
}
.lenus-local_cafe:before {
    content: "\e1d9";
}
.lenus-arrow_back:before {
    content: "\e200";
}
.lenus-arrow_drop_down:before {
    content: "\e201";
}
.lenus-arrow_drop_down_circle:before {
    content: "\e202";
}
.lenus-arrow_drop_up:before {
    content: "\e203";
}
.lenus-arrow_forward:before {
    content: "\e204";
}
.lenus-menu:before {
    content: "\e20e";
}
.lenus-more_vert:before {
    content: "\e210";
}
.lenus-school:before {
    content: "\e259";
}
.lenus-share:before {
    content: "\e25a";
}
.lenus-code:before {
    content: "\e284";
}
.lenus-face:before {
    content: "\e290";
}
.lenus-favorite:before {
    content: "\e291";
}
.lenus-home:before {
    content: "\e29e";
}
.lenus-open_in_new:before {
    content: "\e2b2";
}
.lenus-perm_identity:before {
    content: "\e2ba";
}
.lenus-schedule:before {
    content: "\e2c9";
}
.lenus-search:before {
    content: "\e2ca";
}
.lenus-stars:before {
    content: "\e2e2";
}
