html {
    font-size: 1em;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .pagination {
        font-family: 'WMitra' !important;
        font-weight: bold;
    }
    font-family: 'IranianSerifWeb-Regular', tahoma !important;
}
body {
    background-color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.618;
    color: #333;
}
p {
    margin-bottom: 1.3em;
}

//
// h1, h2, h3, h4 {
//   margin: 0.914em 0 0.5em !important;
//   font-weight: inherit;
//   line-height: 1.2;
// }
.post-title {
    font-size: 1.66em;
    margin: 0 0 1.5em !important;
}
h1 {
    margin: 0.44em 0 1.152em;
    letter-spacing: -2px !important;
    font-size: 1.861em;
}
h2 {
    font-size: 1.168rem;
    margin: 0.44em 0 1.152em;
    letter-spacing: -1px !important !important;
}
h3 {
    font-size: 2.618em;
}
h4 {
    font-size: 1.618em;
}
small,
.font_small {
    font-size: 0.618em !important;
}
nav ul a,
.side-nav a {
    font-size: 1.33rem !important;
    font-family: 'WMitra' !important;
    font-weight: bold;
}
.card .card-content p {
    font-size: 1.111rem;
    line-height: 1.9em;
    text-align: justify;
}
